<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    ##<link href="/static/css/global.css" rel="stylesheet" type="text/css">
    ##<link href="/static/css/page-2.css" rel="stylesheet" type="text/css">
    ##<link href="/static/css/create_recipe.css" rel="stylesheet" type="text/css">
</%def>

<%def name="title()">Create Recipe</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
    <script type="text/javascript" src="/static/js/create.js"></script>
</%def>

<div class="col-xs-12">
    <h2 class="text-center">Create Recipe</h2>

    <div class="form-group">
        <input class="form-control" name="recipe_name" id="recipe_name" type="text" placeholder="Recipe Title">
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ingredients</h3>
        </div>

        <div class="panel-body">
            <div id="ingredient_container">
                <div class="form-group">
                    <input class="form-control" name="category" id="category_0" type="text" placeholder="Category">
                </div>

                <div class="form-group">
                    <input class="form-control" name="amount" id="amount_0" type="text" placeholder="Amount">
                </div>

                <div class="form-group">
                    <select class="form-control" name="unit" id="unit_0">
                        <option selected="selected" value="lbs">lbs</option>
                        <option value="gal">gal</option>
                        <option value="oz">oz</option>
                    </select>
                </div>

                <div class="form-group">
                    <input class="form-control" name="ingredient_name" id="ingredient_name_0" type="text" placeholder="Name">
                </div>
            </div>

            <button class="btn btn-success col-xs-6" id="id_add_ingredient_btn">Add More</button>
            <button class="btn btn-danger col-xs-6" id="id_delete_ingredient_btn" style="display:none;">Delete</button>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title">Procedures</h3>
        </div>

        <div class="panel-body">
            <div id="procedure_container">
                <div class="form-group">
                    <input class="form-control" name="title" id="title_0" type="text" placeholder="Title">
                </div>

                <div class="form-group">
                    <input class="form-control" name="tag" id="tag_0" type="text" placeholder="Tag">
                </div>

                <div class="form-group">
                    <input class="form-control" name="content" id="content_0" type="text" placeholder="Content">
                </div>
            </div>

            <button class="btn btn-success col-xs-6" id="id_add_procedure_btn">Add More</button>
            <button class="btn btn-danger col-xs-6" id="id_delete_procedure_btn" style="display:none;">Delete</button>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="form-group">
        <input id="create_btn" class="btn btn-success col-xs-12" type="button" value="Create">
    </div>
</div>
