<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    <link href="/static/css/global.css" rel="stylesheet" type="text/css">
    <link href="/static/css/page-2.css" rel="stylesheet" type="text/css">    
    <link href="/static/css/create_recipe.css" rel="stylesheet" type="text/css">
</%def>

<%def name="title()">Create Recipe</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
    <script type="text/javascript" src="/static/js/create.js"></script>
</%def>

<br />

<div class="myVita recipe">
    <div class="content">
        <h2>Create a Recipe</h2>  
        <form class="form-horizontal" id="inputForm" action="/create_recipe" method="post" role="form">            
            <div class="labelBar-2">
                <input class="form-control" name="recipename" id="recipename" type="text" placeholder="Recipe Name" value=""/>
                
            </div>                      
            <!-- Ingredient -->
            <div class="labelBar-2">
                <h3>Ingredient</h3>
            </div>

            <div class="vita-2">


                <div id="edit_ingredient_inputbox">
                    <ul class="cf">

                        <li >

                        <input class="form-control" name="categoryname" id="categoryname_0" type="text" placeholder="Category" value=""/>
                        </li> 
                        <li > 

                        <input class="form-control" name="amount" id="amount_0" type="text" placeholder="Amount" value=""/>
                        </li> 
                        <li >
                                     
                        <select class="form-control" name="unit" id="unit_0">
                            <option selected="selected" value="lbs">lbs</option>
                            <option value="gal">gal</option>
                            <option value="oz">oz</option>
                        </select>
                        </li >        
                        <li >                                    

                        <input class="form-control" name="ingredientname" id="ingredientname_0" type="text" placeholder="Name"  value=""/>                            
                        </li>                        
                    </ul> 
                    <!--
                            <div class="action">
                                <button class="positive" type="button" id="id_save_ingredient_0" onclick="save_ingredient_add(1)"> Save </button>
                                <button class="negative" type="button" onclick="cancel_ingredient_edit(1)"> Cancel </button>                               
                            </div> 
                            -->                          
                </div>
                <button class="positive" type="button" id="id_add_ingredient_btn" onclick="">
                    Add</button>                        
            </div>

            <!-- Ingredient end --> 


            <!-- Procedure -->
            <div class="labelBar-2">
                <h3>Procedure</h3>
            </div>                  
            <div class="vita-2">

                <div id="edit_it_procedure_inputbox" >

                    <ul class="cf">

                        <li >

                        <input class="form-control" name="titlename" id="titlename_0" type="text" placeholder="Title" value=""/>
                        </li> 
                        <li >

                        <input class="form-control" name="tag" id="tag_0" type="text" placeholder="Tag" value=""/>
                        </li>                        
                    </ul>
                    <ul class="cf">
                        <li class="vf">

                        <input class="form-control" name="content" id="content_0" type="text" placeholder="Content" value=""/>
                        </li>
                    </ul> 
                    <!--                               
                            <div class="action">
                                <button class="positive" type="button" id="id_save_it_procedure_0" onclick="save_it_procedure_add(4770951)"> Save  </button>
                                <button class="negative" type="button" onclick="cancel_it_procedure_edit(4770951)"> Cancel </button>
                            </div>
                            -->
                </div>
                <button class="positive" type="button" id="id_add_it_procedure_btn" onclick="">Add </button>
            </div>
            </br>
            <!-- Procedure end -->                     

            <div class="col-xs-12">
                <div class="form-group">
                    <input id="create_btn" class="btn btn-success col-xs-12" type="button" value="Create">
                </div>
            </div>
        </form>

    </div>     
</div>

</body>
</html>