<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    ##<link href="/static/css/global.css" rel="stylesheet" type="text/css">
    ##<link href="/static/css/page-2.css" rel="stylesheet" type="text/css">
    ##<link href="/static/css/create_recipe.css" rel="stylesheet" type="text/css">
</%def>

<%def name="title()">Edit Recipe</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
    <script type="text/javascript" src="/static/js/edit.js"></script>
</%def>

<div class="col-xs-12">
    <h2 class="text-center">Edit Recipe</h2>

    <div class="form-group">
        <input class="form-control" name="recipe_name" id="recipe_name" type="text" value="${recipe.name}">
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Ingredients</h3>
        </div>

        <div class="panel-body">
            <div id="ingredient_container">
                <input type="hidden" id="hiddenIngr" name="lengthIngr" value="${ingredient_index}">

                % for ingredient in ingredients:
                <div id="ingredient_${ingredient.id}">

                    <div class="form-group">
                        <input class="form-control" name="category" id="category_${ingredient.id}" type="text"
                        value="${ingredient.source.variety}">
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="amount" id="amount_${ingredient.id}" type="text"
                        value="${ingredient.amount}">
                    </div>

                    <div class="form-group">
                        <select class="form-control" name="unit" id="unit_${ingredient.id}">
                            <option selected="selected" value=${ingredient.unit}>
                            ${ingredient.unit}</option>
                            % if ingredient.unit!="lbs":
                            <option value="lbs">lbs</option>
                            % endif

                            % if ingredient.unit!="gal":
                            <option value="gal">gal</option>
                            % endif

                            % if ingredient.unit!="oz":
                            <option value="oz">oz</option>
                            % endif
                        </select>
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="ingredient_name" id="ingredient_name_${ingredient.id}"
                        type="text" value="${ingredient.source.name}">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger" id="delete_oldingredient_btn"
                            onclick="user_ingredient_del(${ingredient.id})">Delete</button>
                    </div>

                    <hr>
                </div>
                %endfor
            </div>
            <button class="btn btn-success col-xs-6" id="id_add_ingredient_btn">Add More</button>
            <button class="btn btn-danger col-xs-6" id="id_delete_ingredient_btn" style="display:none;">Delete</button>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title">Procedures</h3>
        </div>

        <div class="panel-body">
            <div id="procedure_container">
                <input type="hidden" id="hiddenProc" name="lengthProc" value="${procedure_index}">

                % for procedure in procedures:
                <div id="procedure_${procedure.id}">
                    <div class="form-group">
                        <input class="form-control" name="title" id="title_${procedure.id}" type="text"
                        value="${procedure.title}">
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="tag" id="tag_${procedure.id}" type="text"
                        value="${procedure.tag}">
                    </div>

                    <div class="form-group">
                        <input class="form-control" name="content" id="content_${procedure.id}" type="text"
                        value="${procedure.content}">
                    </div>

                    <div class="form-group">
                        <button class="btn btn-danger" id="delete_oldprocedure_btn"
                            onclick="user_procedure_del(${procedure.id})">Delete</button>
                    </div>

                    <hr>
                </div>
                %endfor
            </div>
            <button class="btn btn-success col-xs-6" id="id_add_procedure_btn">Add More</button>
            <button class="btn btn-danger col-xs-6" id="id_delete_procedure_btn" style="display:none;">Delete</button>
        </div>
    </div>
</div>

<div class="col-xs-12">
    <div class="form-group"><input id="edit_btn" class="btn btn-success col-xs-12" type="button" value="Save"></div>
    <div class="form-group"><input id="delete_btn" class="btn btn-danger col-xs-12" type="button" value="Delete"></div>
    <div class="form-group"><input id="saveas_btn" class="btn btn-primary col-xs-12" type="button" value="Save as a New Recipe"></div>
</div>
