<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    ## <link href="/static/css/recipe.css" rel="stylesheet">
</%def>

<%def name="title()">Recipe - ${recipe.name}</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
    <script src="/static/js/recipe.js"></script>
</%def>

<div class="col-xs-12">
    ##<h2>${recipe.name}</h2>
    <h2>Bavarian Hefeweizen</h2>
    <hr>
    <h3>Ingredients</h3>
    <ul>
        <li>
        <p id="ingredient_tag_1" class="ingredient">Milk</p>
        <div id="ingredient_form_1" class="ingredient_form form-group">
            <div class="input-group">
                <input id="ingredient_note_input_1" type="text" class="form-control" value="Note">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_ingredient_note(1);">Save</button>
                </span>
            </div>
        </div>
        </li>
        <li>
        <p id="ingredient_tag_2" class="ingredient">Coffee</p>
        <div id="ingredient_note_2" class="ingredient_note alert alert-warning">Note</div>
        <div id="ingredient_form_2" class="ingredient_form form-group">
            <div class="input-group">
                <input id="ingredient_note_input_2" type="text" class="form-control" value="Note">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_ingredient_note(2);">Save</button>
                </span>
            </div>
        </div>
        </li>
        <li>
        <p id="ingredient_tag_3" class="ingredient">Coffee</p>
        <div id="ingredient_note_3" class="ingredient_note alert alert-warning">Note</div>
        <div id="ingredient_form_3" class="ingredient_form form-group">
            <div class="input-group">
                <input id="ingredient_note_input_3" type="text" class="form-control" value="Note">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_ingredient_note(3);">Save</button>
                </span>
            </div>
        </div>
        </li>
    </ul>
    <h3>Procedures</h3>
    <ol>
        <li>
        Coffee
        </li>
    </ol>

</div>
