<%inherit file="/layouts/base.html" />

<%def name="css_files()">
    ${ parent.css_files() }
    ## <link href="/static/css/recipe.css" rel="stylesheet">
</%def>

<%def name="title()">Recipe - ${recipe.name}</%def>
<%def name="js_defer()">
    ${ parent.js_defer() }
    <script src="/static/js/recipe.js"></script>
</%def>

<div class="col-xs-12">
    <h2>${recipe.name}</h2>
    <hr>
    <h3>Ingredients</h3>
    <ul>
        % for item in ingredient:
        <li>
        <p id="ingredient_tag_${item.id}" class="ingredient"><strong>${item.source.variety}: </strong>
        % if item.amount:
            ${item.amount} 
        %else:
        % endif
        ${item.unit}
        ${item.source.name}</p>
        % if item.note:
            <div id="ingredient_note_${item.id}" class="ingredient_note alert alert-warning">${item.note}</div>
        % endif
        <div id="ingredient_form_${item.id}" class="ingredient_form form-group">
            <div class="input-group">
                <input id="ingredient_note_input_${item.id}" type="text" class="form-control" value="Note">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_ingredient_note(${item.id});">Save</button>
                </span>
            </div>
        </div>
        </li>
        % endfor
    </ul>
    <h3>Procedures</h3>
    <ol>
        % for item in procedure:
        <li>
        <p id="procedure_tag_${item.id}" class="procedure"><strong class="text-danger">${item.tag}: </strong>${item.content}</p>
        % if item.note:
            <div id="procedure_note_${item.id}" class="procedure_note alert alert-warning">${item.note}</div>
        % endif
        <div id="procedure_form_${item.id}" class="procedure_form form-group">
            <div class="input-group">
                <input id="procedure_note_input_${item.id}" type="text" class="form-control" value="Note">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="save_procedure_note(${item.id});">Save</button>
                </span>
            </div>
        </div>
        </li>
        % endfor
    </ol>
    <h3>Comment</h3>
    % if recipe.note:
        <div id="recipe_note_${recipe.id}" class="recipe_note alert alert-warning">${recipe.note}</div>
    % else:
    <button id="recipe_tag_${recipe.id}" class="recipe btn btn-default col-xs-12">Add Comment</button>
    % endif
    <div id="recipe_form_${recipe.id}" class="recipe_form form-group">
        <div class="input-group">
            <input id="recipe_note_input_${recipe.id}" type="text" class="form-control" value="Note">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="save_recipe_note(${recipe.id});">Save</button>
            </span>
        </div>
    </div>

</div>
