language: python

python:
  - "2.7"

services: mysql

env:
  - DJANGO_SETTINGS_MODULE="settings.travis_test"

install:
  - pip install -r scripts/vagrant/requirements.txt

before_script:
  - mysql -e "create database db;"
  - echo "no" | python manage.py syncdb
  - echo "import scripts.initial_data" | python manage.py shell

script:
  - python manage.py test
