body {
    padding-top: 0px;
}

textarea {
    resize: vertical;
}
.wrapper {
	margin: 0px auto;
	position: relative;
	width: 90%;
	height:100%;
	float:none;
	background-color: #ffffff;
	box-shadow: 0 0 30px #080808;
}

