
.recipe .content {
  margin-top: 60px;
  border: 1px solid #e7e7e7;
}
.recipe .content .preview {
  float: right;
  font-size: 14px;
  margin-top: 20px;
}
.recipe .labelBar-2 {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin: 30px 0;
}
.recipe .first-labelBar {
  margin-top: -1px;
}
.recipe .action {
  padding-left: 0px;
  margin: 15px 0 30px;
}
.recipe .positive, .recipe .negative {
  font-size: 14px;
  line-height: 24px;
  padding: 0 20px;
}
.recipe .border-bottom-1 {
  margin-bottom: 20px;
  border-bottom: 1px dashed #dddddd;
  border-top: none;
}
.recipe .border-bottom-2 {
  padding-top: 10px;
  border-top: 1px dashed #dddddd;
  margin-top: 10px;
}
.recipe .border-bottom-2 b {
  float: left;
  text-align: right;
  width: 70px;
}
.recipe .add-info {
  border: none;
  width: 154px;
  height: 36px;
  margin-bottom: 10px;
  padding-left: 44px;
  text-align: left;
  font-size: 14px;
  color: #565656;
  background: url(../img/btn/add-info.gif) no-repeat;
}

.recipe h2{
  text-align: left;
  font-size: 20px;
  color: #565656;  
}
