/*=======
首页
=======*/
/*轮播*/
.flexslider{width:645px; height:290px; position: relative;}
.flexslider img{/*width:645px;*/ height:290px;}
.flexslider .slides li {display: none;}
/* Control Nav */
.flexslider .flex-control-nav {position: absolute; right: 10px; bottom: 10px; margin: 0;}
.flexslider .flex-control-nav li {margin: 0 6px; float: left; list-style:none;}
.flexslider .flex-control-paging li a {background: url(../img/btn/slidesc.gif) no-repeat; width: 12px; height: 12px; display: block; text-indent: -999em; cursor: pointer;}
.flexslider .flex-control-paging li a:hover { background: url(../img/btn/slidescH.gif) no-repeat;}
.flexslider .flex-control-paging li a.flex-active { background: url(../img/btn/slidescD.gif) no-repeat;}
.flexslider .flex-direction-nav{display: none;}


/* 最新邻友动态 */
.neiSitu .js_refreshList{height:428px; padding:20px 0 0; overflow: hidden; position:relative;}
.neiSitu .infoImg{width:68px; height:68px;}
.neiSitu .infoImg img{width:68px; height:68px;}
.neiSitu .infoTxt{width:557px;}
.neiSitu .infoTit{color:#898989;}
/* 热招职位 */
.workPosition .rowList{margin-top:20px;}
.workPosition .rowList li{color:#898989; width:23%; height:18px; padding-right:2%; margin-bottom:15px; }
/* 用户登录面板*/
.visitorPanel{height:280px; padding:10px 15px 0; background:#f3f8f6 url(../img/bg/line.jpg) 50% 240px no-repeat; }
.vpHeader{padding-bottom: 10px;}
.vpHeader h3{font-size: 18px; color: #83a097; font-family:'Microsoft YaHei'; float: left;}
.visitorPanel p{margin-bottom:15px; overflow: hidden;}
.visitorPanel .input-1, .visitorPanel .input-2{width:205px; height:18px; font-size:14px; padding:6px 5px 6px 35px; border:none;}
.visitorPanel .input-1{background:url(../img/bg/userPanelInput-1.gif) no-repeat; color:#ccc;}
.visitorPanel .input-2{background:url(../img/bg/userPanelInput-2.gif) no-repeat;}
.visitorPanel .rememberLog{line-height:17px; float:left; color:#898989; cursor: pointer;}
.visitorPanel .rememberLog input{vertical-align: text-bottom; margin-right:5px;}
.visitorPanel .forgotPsw{line-height:17px; float:right;}
.visitorPanel .login, .visitorPanel .regist{width:245px; height:32px; border:none; cursor: pointer;}
.visitorPanel .login{background:url(../img/btn/upLogin.png) no-repeat; margin-bottom:10px; clear: both;}
.visitorPanel .regist{background:url(../img/btn/upRegist.gif) no-repeat; margin-top:15px;}
.visitorPanel .openid-login{color: #898989;}
.visitorPanel .openid-login img{vertical-align: middle; margin-left: 5px;}
.visitorPanel .loginH{background:url(../img/btn/upLoginH.png) no-repeat;}
.visitorPanel .registH{background:url(../img/btn/upRegistH.gif) no-repeat;}
/* 推荐伯乐 */
.recomScout{margin-top:40px; height:483px; overflow: hidden;}
.recomScout .rowList{float:right; line-height: 21px; margin-right: 10px;}
.recomScout .rowList li{margin-right:5px; width:33px; text-align: center; cursor: pointer;}
.recomScout .rowList .hover{color:#fff; background:url(../img/bg/styleH.png) 50% 50% no-repeat;}
.recomScout .rowList .current{color:#fff; background:url(../img/bg/styleC.png) 50% 50% no-repeat;}
.recomScout .infoImg{width:68px; height: 68px;}
.recomScout .infoImg img{width:68px; height:68px;}
.recomScout .infoTxt{width:187px;}
.recomScout .js_tabPanel{margin-top: 20px;}
/* 热门观点 */
.workViewpoint .info{background-color:#f8f8f8; margin-top:-1px; padding:10px;}
.workViewpoint .infoImg{width: 68px; height: 68px;}
.workViewpoint .infoImg img{width: 68px; height: 68px;}
.workViewpoint .infoTxt{width:167px; color: #565656;}
.workViewpoint ul li{margin-top:15px; color: #898989; padding-right:10px;}
/* 热门企业 */
.company .labelBar .rowList{float:right;}
.company .labelBar .rowList li{margin-right:10px; padding-right:10px; background:url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.company .labelBar .rowList li a{color:#898989;}
.company .labelBar .rowList .current{color:#1fa458; font-weight: 900;}
.company .labelBar .moreDetial{margin-left:20px;}
.companyList li{margin:15px 0 0; width:440px;}
.companyList .spe{border-bottom:1px dashed #e6e6e6; padding:20px 0; margin-top: 0;}
.companyList .infoImg{width:120px; height:90px;}
.companyList .infoImg img{width:120px; height:90px;}
.companyList .infoTxt{width:300px;}
.companyList .infoTit {overflow: hidden;}
.companyList .infoTit a{float:left;}
.companyList .infoTit .starGray{float:right;}
.companyList .infoTxt p{clear:both;}
.companyList li.first{margin-right:80px;}
.companyList .rowR span{display:inline-block; width:60px; color: #898989; margin-left:20px;}

/*=======
频道页
=======*/
.channelPanel .labelBar-2{margin-bottom: 10px; padding-left: 15px;}
.channelPanel .userCount{margin-top: 5px; padding-left: 15px; color: #898989;}
.channelPanel .js_linkItem-2 .infoExtra{top:15px; right:15px;}

/*-------
职位频道页
-------*/
/*标签筛选*/
.filterTagSpe{float:left; white-space: nowrap;}
.filterTagSpe input{width:36px; padding:2px; margin:0 2px; border: 1px solid #cecece;}
.filterTagSpe .besure{margin-left: 10px; border:none; vertical-align:top; cursor:pointer; text-indent: -9999em;}

/*主栏*/
.positionChannel .rowL{width:465px;}
.positionChannel .rowR{width:110px; text-align: center; color:#898989;}
.positionChannel .rowR img{width:110px; height:110px; margin-bottom: 10px;}
.positionChannel .selectList{margin-right:10px;}
.positionChannel .salary{font-size: 14px;}
.positionChannel .salaryC{color:#898989;}

/*热门职位
已经浏览过的职位
热门职位
*/
.hotPosition .listStyle{padding-top:20px;}

/*-------
伯乐频道页
人脉频道页与伯乐频道页公用样式
-------*/
/*主栏*/
.scoutChannel .infoImg{width:110px; height:140px; text-align: center; color:#898989;}
.scoutChannel .infoImg img{width:110px; height:110px; margin-bottom:5px;}
.scoutChannel .infoTxt{width:385px;}
.scoutChannel .infoTxt .spe{float:left; height:40px;}
.scoutChannel .infoTxt .col{margin-top:10px;}

.new-recuriter .list-wrap{padding-top: 20px; height: 194px; overflow: hidden; position: relative;}
.new-recuriter ul li{padding-left:10px; padding-bottom: 10px; margin-bottom: 10px;}

/*
|	user-helpful
*/
.user-helpful .labelBar{border-bottom: none;}
.user-helpful h3{background: url("../img/tit/question-green-16-icon.gif") no-repeat 0 50%;padding-left: 21px;}
.user-helpful .list-wrap{background-color: #f2f2f2; padding: 3px;}
.user-helpful ul{background-color: #fff; border: 1px solid #d9d9d9; padding: 10px 10px 10px 0;}
.user-helpful ul li{background: url("../img/tit/recruiter-help-list-style.gif") no-repeat 0 6px; margin: 5px 0 5px -3px; padding-left: 25px; position: relative;}
.user-helpful ul a{color: #565656;}

/*推荐伯乐*/
.populateRank .rowList{float:right; line-height: 24px; margin-right: 5px;}
.populateRank .js_tabPanel{margin-top: 20px;}
.populateRank .rowList li{margin-left:5px; width:33px; text-align: center; cursor: pointer;}
.populateRank .rowList .hover{color:#fff; background:url(../img/bg/styleH.png) 50% 50% no-repeat;}
.populateRank .rowList .current{color:#fff; background:url(../img/bg/styleC.png) 50% 50% no-repeat;}
.populateRank .rowList .moreDetial{margin:0 0 0 10px; width:auto;}
.populateRank .info{padding-left:20px;}
.populateRank .info .rankOrder{position: absolute; top:0; left: 0; width:15px; line-height: 15px; text-align: center; color:#fff; background:url(../img/bg/rankItemSign-2.png) no-repeat;}
.populateRank .info .rankOrderForword{background:url(../img/bg/rankItemSign.png) no-repeat;}
.populateRank .infoImg{width:68px; height: 68px;}
.populateRank .infoImg img{width: 68px; height: 68px;}
.populateRank .infoTxt{width: 100px;}

/*-------
人脉频道页
*比伯乐少了两个页面，其他都一样，用伯乐的样式控制。*
-------*/
/*右侧可能感兴趣
热门人物
*/
.interested .listStyle{margin-top: 20px;}
.interested .infoImg{width: 68px; height: 68px;}
.interested .infoImg img{width: 68px; height: 68px;}
/*.interested .infoTxt{width: 140px;}*/

/*-------
公司频道页
-------*/
/*主栏*/
.companyChannel .selectList{margin-right: 10px;}
.companyChannel .section .rowL{width:415px; padding-right: 40px; border-right:1px solid #ededed;}
.companyChannel .section .col{margin: 10px 0;}
.companyChannel .section .rowR{width:139px; padding-left:20px; }
.companyChannel .companyShow{margin-top:20px;}
.companyChannel .companyShow img{width:90px; height:67px; margin-right: 15px;}
.companyChannel .section .rowR .declare{color:#898989; margin-bottom: 5px;}
.companyChannel .staff{margin-top:20px;}
.companyChannel .staff dt{color:#898989;}
.companyChannel .staff dd{margin-top:10px; clear: both; overflow: hidden;}
.companyChannel .staff .infoImg{width:50px; height:50px;}
.companyChannel .staff .infoTxt{width: 69px;}
/*右侧知名公司*/
.famousCompany .listStyle{padding-top:20px;}
/*右侧热招公司*/
.hotCompany .listStyle{padding-top:20px;}

/*.discuss .declare{font-weight: 900;}
.discuss .companyName{color:#1fa458;  margin:0 5px;}
.discuss .intro{color:#898989; font-weight: 500;}
.discuss .rowList{margin-top: 20px;}
.discuss .rowList li{width:50%; margin-bottom: 10px; color:#898989;}
.discuss .rowList li .starGray-2{vertical-align: text-bottom; margin-left: 5px;}
.discuss .disInput{margin-top: 20px;}
.discuss .disInput p{color:#898989;}
.discuss .disInput textarea{width:633px; height: 80px; resize:vertical; padding: 5px; margin-bottom: 10px; border:1px solid #cecece;}
.discuss .disInput .comment{float:right;}
.discuss .disInput label{float:right; color:#898989; margin:7px 10px 0 0;}
.discuss .disInput input{vertical-align: text-bottom; margin-right: 5px;}*/

/*-------
观点频道页
-------*/
.viewPointChannel .infoImg{text-align: center; height:100px; width: 68px;}
.viewPointChannel .infoImg img{width:68px; height:68px; margin-bottom:10px;}
.viewPointChannel .infoTxt{width:527px;}
.viewPointChannel .col{float: right; margin-top: 10px;}
/*右侧发表观点*/
.viewOn{background-color:#faf4e7; padding:20px; font-size: 14px; line-height: 1.7em;}
.viewOn button{display:block; width: 132px; height: 42px; margin:20px auto 0; background: url(../img/btn/viewOn.png) no-repeat; border: none; text-indent: -999em; cursor: pointer;}
.viewOn .viewOnH{background: url(../img/btn/viewOnH.png) no-repeat;}
/*右侧职场达人*/
.starWorker .listStyle{margin-top: 20px;}
.starWorker .infoImg{width: 68px; height: 68px;}
.starWorker .infoImg img{width: 68px; height: 68px;}
.starWorker .infoTxt{width: 148px;}
/*右侧最多浏览*/
.highView .labelBar{border-bottom: none;}
.highView .info{padding:10px; background-color: #f8f8f8;}
.highView .infoImg{text-align: center; width: 68px; height: 100px;}
.highView .infoImg img{width: 68px; height: 68px; margin-bottom: 10px;}
.highView .infoTxt{width: 167px;}
.highView .listStyle li{margin-bottom: 20px;}
.highView .listStyle .raAuthor a{color: #565656;}
/*频道页2*/
.viewPoint-2 .labelBar{border-bottom: none;}
.viewPoint-2 .labelBar .rowList{float:right; margin-right: 10px;}
.viewPoint-2 .labelBar .rowList li{margin-right: 10px; padding-right: 10px; background: url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.viewPoint-2 .labelBar .rowList a{color: #898989;}
.vpTopBlock{padding:20px; border:1px solid #e6e6e6;}
.vpTopBlock .rowL{width:403px; padding-right:20px;}
.vpTopBlock .infoImg{width:50px; height:50px;}
.vpTopBlock .infoImg img{width:50px; height:50px;}
.vpTopBlock .infoTxt{width: 333px;}
.vpTopBlock .infoTxt .author {margin-top: 5px;}
.vpTopBlock .infoTxt .author a{color: #898989;}
.vpTopBlock .rowL .cont{margin:15px 0 10px;}
.vpTopBlock .rowR{width: 180px;height: 130px;}
.vpTopBlock .rowR img{width: 180px;height: 130px;}

.vpblock{border: 1px solid #e6e6e6; border-top: none;}
.vpblock .rowL{width:382px; padding:0 20px; border-right:1px solid #e6e6e6;}
.vpblock .rowL li{margin:20px 0;}
.vpblock .rowL li a{color: #898989;}
.vpblock .rowL .newsTit{margin-right: 10px; font-size: 14px; color: #565656}
.vpblock .rowR{width:180px; padding:20px;}
.vpblock .rowR img{margin:20px 0; width: 180px;height: 100px;}
.vpblock .rowR .vpFun a{color: #898989;}
.vpblock .rowR .date{float: right; color:#898989;}


/*=======
明细页
=======*/

/*-------
职位明细页
-------*/
/*职位简介卡*/
.positionCard{border:1px solid #dadada; background-color: #fafafa; margin-top:10px;}
.positionCard h1{padding:20px; color: #2b2b2b; border-bottom:1px dashed #ededed; font-size: 28px; font-family: "微软雅黑";}
.positionCard .rowL{width:683px; position:relative; background-color: #fff;}
.positionCard .rowL ul{padding:20px; width: 471px;}
.positionCard .rowL li{width:50%; margin:5px 0;}
.positionCard .rowL .spe{width:100%;}
.positionCard .rowL .comName{font-size:16px;}
.positionCard .rowL .salary{font-size:28px;}
.positionCard .rowL .salaryC{color:#898989;}
.positionCard .rowL .apply{position: absolute; right:40px; bottom:30px;}
.positionCard .rowR{width:185px; padding:20px 45px 0;}
.positionCard .rowR img{display: block; width:110px; height:110px; margin:0 auto;}
.positionCard .rowR .relData{margin-top:20px;}
.positionCard .rowR .follow-1{margin:20px auto 0 !important;}
/*主栏*/
.positionInfo{padding-bottom: 20px;}
.positionInfo .vita{margin:20px;}
.positionInfo h4{font-weight: 900; margin: 40px 0 20px 20px;}
.positionInfo .cont{padding-left: 20px;}
.positionInfo .socialShare{position:relative; height: 41px; margin-top: 20px;}
.positionInfo .socialShare .socialIcon{float: left; margin-top: 10px;}
.positionInfo .apply{position: absolute; right:0;}
/*公司信息*/
.compnayInfo .action{margin:20px 0;}
.compnayInfo .intro .rowL{width:375px;}
.compnayInfo .intro .rowL p .loca{display: inline-block; width:338px; vertical-align: top;}
.compnayInfo .intro .rowL .introCon{margin-top:20px; color:#565656;}
.compnayInfo .intro .rowR{width:240px; height:190px;}
.compnayInfo .intro .rowR body{margin:0 !important;}
.compnayInfo .introImg{margin-top: 20px;}
.compnayInfo .introImg li{width:140px; height:105px; margin:0 28px 20px 0;}
.compnayInfo .introImg li img{width:140px; height:105px;}
/*右侧咨询用户*/
.askUser{margin-top: 0; padding:10px 15px;}
.askUser h3{padding-bottom:10px; color: #2b2b2b; font-size: 14px; font-weight: 900;}
.askUser textarea{border: 1px solid #cecece; max-width: 233px;resize:vertical; line-height: 1.7; color:#565656;width:233px; height:100px; padding:5px;}
.askUser a{float: right; margin-top: 10px; width:66px; height:26px; background: url(../img/btn/letter.png) no-repeat; text-indent: -9999em;}
/*右侧用户发布的新职位
其他同类职位
*/
.newPosition ul{padding-top:20px;}
.newPosition li{margin-bottom:20px; padding-right: 10px;}
.newPosition li .rowR{color:#ff6600;}
.newPosition li .negotiable{color: #898989;}

/*-------
伯乐明细页
-------*/
/*用户信息卡*/
.personCard h2{font-size:28px;font-family: "微软雅黑", Arial, Helvetica, sans-serif; margin:0 0 20px 10px; color: #2b2b2b;}
.personCard .info{ margin-top:0;padding:15px 0 15px 15px; border:1px solid #dadada; height: 239px;}
.personCard .infoImg{width:180px; height:220px; padding:17px; background:url(../img/bg/userCardImg.png) no-repeat;text-align:center;}
.personCard .infoImg img{width:180px; height:180px; margin-bottom: 20px;}
.personCard .infoImg span{color:#898989}
.personCard .infoTxt{width:414px; margin-left: 0;}
.personCard .infoTit{margin:10px 0 0 20px; height: 67px;}
.personCard .infoTit .userName{font-size:20px; color:#2b2b2b; display: inline-block;}
.personCard .infoTit .userName span{color: #2b2b2b;}
.personCard .infoTit i{margin:0 10px;}
.personCard .infoTit span{color:#898989;}
.personCard .infoTit .uIntro{font-size: 14px; margin-top: 10px;}
.personCard .infoTit .uIntro a{color: #565656;}
.personCard .personInfo{height:64px; margin-top:21px; padding:15px 10px 10px 20px;border:1px solid #e7f1eb; border-left:none; border-right:none; background-color:#f0f7f2; overflow: hidden;}
.personCard .personInfo span{color:#898989; margin-right:10px;}
.personCard .action{margin:20px 0 0 20px;}
.personCard .action .follow-3{float: left;}
.personCard .action .entrust{float: left; margin-left:10px;}
.personCard .action .rowList{float:right; margin:8px 10px 0 0;}
.personCard .action .rowList li{margin-right:10px; padding-right:10px; background:url(../img/bg/separater-1.png) 100% 50% no-repeat;/* overflow: visible;*/}
.personCard .action .rowList a{color:#565656;}
.personCard .action .selectList{width:49px;}
.personCard .action .selectList dt{color: #898989; padding: 0;}
.personCard .action .selectList dd{width:49px;}
.personCard .action .selectList ul{width:49px; margin-left: -5px;}
.personCard .action .selectList li{float: none; background: none; margin:0; padding: 0;}
.personCard .action .print{padding-left: 21px; float: right; margin-right: 10px; color: #898989; background: url(../img/tit/print-gray-16-icon.gif) 0 50% no-repeat;}
.personCard .infoExtra{top:27px; right:10px;}
.personCard .pcShadow{height: 4px; background: url(../img/bg/pcShadow.gif) repeat-x;}

/*页面面板
人脉明细页
公司明细页
*/
.userDataPanel{border:1px solid #e6e6e6;padding:30px 20px;}
.userData h3{font-size:16px; color:#057535; margin-bottom:20px;}
.userData .tab-1 .spe .editInfo{padding-left: 20px !important;}
.userData .tab-1 .spe .uploadPhoto{padding-left: 20px !important;}
.profileData .noResultDeclare span{line-height:54px; background:url(../img/tit/lock.gif) 0 0 no-repeat;}
/*页面底部*/
.userDataBottom{position: relative; background-color: #f8f8f8; border:1px solid #e6e6e6; border-top:none; line-height: 33px;}
.userDataBottom ul{width:148px; margin: 0 auto;}
.userDataBottom ul li{margin-right:10px; padding-right: 10px; background: url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.userDataBottom .collect{position: absolute; right:10px; top:5px;}
/* 右侧用户访问量*/
.userPv{font-size:14px; padding:10px 20px 10px 60px; background-image: url(../img/tit/trend.png);background-position: 20px 50%; background-repeat: no-repeat; margin-top: 10px;}
/* 右侧用户关注、粉丝、评价、观点数量*/
.userBrief-2{padding:20px;}
.userBrief-2 li{font-size:14px; width: 49px; padding-right:5px; padding-left: 5px ;background:url(../img/bg/separater-2.png) 100% 50% no-repeat;text-align: center; }
.userBrief-2 li a{display: block; margin-top:10px;}
/* 右侧用户的招聘 */
.userInvite .listStyle li .rowR{color:#ff6600;}
/* 右侧用户的关粉丝
用户的关注
用户的粉丝
*/
.userFans .rowList{padding:20px;}
.userFans .rowList li{width:50px; text-align: center; margin-right:42px;}
.userFans .rowList a{display: block;}
.userFans .rowList img{width: 50px;height: 50px;margin-bottom: 10px;}

/* 个人档案 */
.profileData{border-bottom:none;}
.profileData li{margin-bottom:10px;}
/*.profileData .tdTit{width:70px; color:#898989;}
.profileData .tdTit-2{width:70px; color:#898989; clear: left;}
.profileData .tdCon{width:231px; }
.profileData .tdCon-2{width:533px;}
.profileData .tdHalf{width:50%;}
.profileData .duties{color:#0f9247; font-weight: 900;}*/
.profileData .tableLabel{line-height: 33px; padding:0 10px; background-color:#f9f9f9; margin:20px 0 10px;}
.profileData .tableLabel b{clear: #2b2b2b;background:url(../img/bg/separater-1.png) 100% 50% no-repeat; margin-right:10px; padding-right:10px;}

.profileData .workEvaluateP{text-align: right; margin-top:20px; color:#898989;}
.profileData .workEvaluate{ padding:20px; margin:10px 0 20px 60px; border:1px solid #f2f2f2; background-color: #fcfcfc;}
.profileData .workEvaluate li{ margin-bottom: 0;}


/*粉丝页面
关注页面
*/
.fansData .info{width:270px; margin-right:63px;}
.fansData .infoImg{width: 68px; height: 68px;}
.fansData .infoImg img{width: 68px; height: 68px;}
.fansData .infoTxt{width: 126px;}
.fansData .edge{margin-right: 0;}
.fansData .noResultDeclare span{background: url("../img/tit/sad.gif") no-repeat scroll 0 0 transparent; line-height: 45px;}

/*招聘职位页面*/
.positionData{padding: 20px; border: 1px solid #e6e6e6;}
.positionData .noResultDeclare span{line-height:45px; background: url(../img/tit/sad.gif) 0 0 no-repeat;}
.positionData .labelBar-2{margin:0 0 20px;}
.positionData .itemCount{float:right;}
.positionData .job-touches {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #006CB1;
}
.positionData .job-touches .team-show-icon {
  display: inline-block;
  width: 41px;
  height: 18px;
  background: url(../img/tit/team-show-icon.gif) no-repeat;
  vertical-align: middle;
  margin-left: 5px;
}
.positionData .job-title {
  margin-bottom: 5px;
}
.positionData .job-title a {
  color: #565656;
  font-weight: 700;
}
.positionData .job-title a:hover {
  text-decoration: none;
}
.positionData .company-name {
  margin-bottom: 5px;
}
.positionData .job-posting-builder {
  margin-top: 5px;
}
.positionData .job-posting-builder a {
  color: #898989;
}


/*招聘概要页面*/
.outlineData{border-bottom:none;}
.outlineData p{text-indent: 2em;}

/*观点页面
评价页面
*/
.viewpointData .action{color:#898989; margin-top:10px;}
.viewpointData .action li{margin-right:10px; padding-right: 10px; background:url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.viewpointData .noResultDeclare span{background: url("../img/tit/sad.gif") no-repeat scroll 0 0 transparent; line-height: 45px;}
.userDataPanel .noResultDeclare .tips{background: url("../img/tit/info-gray-16-icon.gif") no-repeat scroll 0 4px transparent; padding-left: 21px; font-size: 14px; line-height: 24px;}

/*-------
公司明细页
*userData的控件与“伯乐明细页”相似，与伯乐不同的是没有边框,在上面的伯乐详细页处设置*
-------*/
/*公司简介卡*/
.companyCard{border:1px solid #dadada; background-color: #fafafa;}
.companyCard .tit{padding:20px; border-bottom:1px dashed #ededed; line-height: 48px;}
.companyCard .tit h1{float: left;font-size: 28px; font-family: "微软雅黑"; color: #2b2b2b;}
.companyCard .tit .editInfo{float: right;}
.companyCard .rowL{width:683px; min-height: 235px; position:relative; background-color: #fff;}
.companyCard .rowL ul{padding:20px; width: 471px;}
.companyCard .rowL li{margin:5px 0;}
.companyCard .rowL li span{color:#898989;}
.companyCard .rowL li .loca{width: 370px; display: inline-block; vertical-align: top; color: #565656;}
.companyCard .rowL .comment-2{position: absolute; right:40px; bottom:30px;}
.companyCard .rowR{width:255px; padding:30px 10px 0;}
.companyCard .rowR .zhdp{font-size: 14px; color: #2b2b2b; font-weight: 900; text-align: center;}
.companyCard .rowR .starGray-3{margin:10px 0 0 61px;}
.companyCard .rowR .userBrief-3{margin-top:20px;}
.companyCard .rowR .userBrief-2{margin-top:40px;}
.companyCard .rowR .userBrief-2 li {width: 44px;}
.userData .companyData{border:none; border-top:1px solid #e6e6e6; padding:30px 20px;}

/*公司简介*/
.companyMetaData .cmopanyPhoto{float:left; width:210px; height:182px; margin:0 20px 0 0; padding:2px 0 0 3px; background: url(../img/bg/companyPhoto.png) no-repeat; text-align: center; color: #898989;}
.companyMetaData .cmopanyPhoto img{width:200px; height:150px; display: block; margin-bottom:10px;}
.companyMetaData p{margin-bottom:10px; line-height:2em;}
.companyData .labelBar-2{margin:40px 0 20px;}
.companyData .labelBar-2 b{float:left; color: #2b2b2b;}
.companyData .labelBar-2 .commCount{float:right; color:#898989;}

/*评论部分
公司点评*/
.companyData .infoImg{width: 68px;height:100px; text-align: center;color:#898989;}
.companyData .infoImg img{width: 68px; height: 68px; margin-bottom:10px;}
.companyData .infoTxt{width: 517px; margin-bottom:10px;}
.companyData .infoTxt .dianping{margin-left:20px; color:#898989;}
.companyData .infoTxt .date{float: right; color: #898989;}
.companyData .infoTxt .col{margin-bottom: 10px;}
.companyData .action {clear:both; padding-top: 10px;}
.companyData .action span{float:right; color: #898989;}

.companyData .workEvaluate{ padding:20px; margin:10px 0 20px 60px; border:1px solid #f2f2f2; background-color: #fcfcfc;}
/*右侧公司伯乐*/
.companyScout ul{margin-top: 20px;}
.companyScout .infoImg{width: 68px; height: 68px;}
.companyScout .infoImg img{width: 68px; height: 68px;}
.companyScout .infoTxt{width: 140px;}
/*右侧公司地址（显示地图）*/
.companyPosition .labelBar{border-bottom: none;}
.companyPosition img{width:275px; height:250px;}
.companyPosition p{margin-top: 10px;}

/*公司图片*/
.userData .photoData{padding:30px 0 0; border:none; border-top: 1px solid #e6e6e6; white-space: nowrap;}
.userData .photoData a{width:140px; height:105px; margin:0 28px 20px 0; float:left;}
.userData .photoData img{width:140px; height:105px;}
.userData .photoData .edge{margin-right:0;}

/*公司图片2*/
.galleryDeclare{margin-bottom: 10px;}
.galleryDeclare span{margin-left: 20px;}
.galleryDeclare span i{font-weight: 900; font-style: normal;}
.galleryDeclare .edit{float: right; margin-right: 195px;}
.galleryDeclare .edit a{margin-right: 10px;padding-right: 10px; padding-left: 0;}
.galleryDeclare .edit .uploadPhoto{background: url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.galleryDeclare .edit .auto-play{background: url(../img/tit/auto-play.gif) 0 50% no-repeat; padding-left: 12px;}
.galleryDeclare .edit .pause{background: url(../img/tit/auto-play-pause.gif) 0 50% no-repeat; padding-left: 12px;}

#gallery .picture{width:745px; height:560px; cursor: pointer;  position: relative; z-index: 0; overflow: hidden;}
#gallery .picture .previous{display: none; position:absolute; z-index:9; top:238px; left:20px; width:85px; height:84px; background:url(../img/btn/g-prev2.png) no-repeat;}
#gallery .picture .next{display: none; position:absolute; z-index:9; top:238px; right:20px; width:85px; height:84px;background:url(../img/btn/g-next2.png) no-repeat;}

#gallery .picture li{display: none; text-align:center; line-height:560px; }
#gallery .picture li img{vertical-align: middle;}
#gallery .picture .current{display:block;}
#gallery .rowR{width:151px; height:560px;}
#gallery .rowR .previous{width:146px; height:26px; background: url(../img/btn/g-prev.png) no-repeat; cursor: pointer; margin-left:6px;}
#gallery .rowR .previousH{background: url(../img/btn/g-prevH.png) no-repeat;}
#gallery .rowR .next{width:146px; height:26px; background: url(../img/btn/g-next.png) no-repeat; cursor: pointer; margin-left:6px;}
#gallery .rowR .nextH{background: url(../img/btn/g-nextH.png) no-repeat;}
#gallery .thumbnail{position:relative; height: 468px; width: 151px; margin:20px 0; overflow: hidden;}
#gallery .thumbnail img{width:140px; height:105px;}
#gallery .thumbnail ul{position: absolute;}
#gallery .thumbnail li{width:140px; height:105px; padding:3px 3px 3px 8px; margin-bottom: 6px; cursor: pointer;}
#gallery .thumbnail .selected{background:url(../img/bg/g-t.png) no-repeat;}
.company-detial-photo-help{padding: 5px 10px; background-color: #f8f8f8; margin-top: 20px; color: #898989; width: 725px;}
.company-detial-photo-help p{margin: 5px 0;}
/*公司员工*/
.userData .staffData{border:none; padding:20px 0; border-top: 1px solid #e6e6e6;}
.staffData .info{width:270px; margin-right:45px; margin-left:20px;}
.staffData .edge{margin-right:20px;}
.staffData .infoImg{width: 68px; height: 68px;}
.staffData .infoImg img{width: 68px; height: 68px;}
.staffData .infoTxt{width: 127px;}
.staffData .labelBar-2{margin:0 0 20px;}
.staffData .labelBar-2 ul{float:right;}
.staffData .labelBar-2 li{margin-right: 10px; padding-right: 10px; background: url(../img/bg/separater-1.png) 100% 50% no-repeat; color: #898989;}
.staffData .labelBar-2 li a{color: #898989;}
.staffData .labelBar-2 li .target{color: #1FA458; font-weight: 900; cursor: default;}

/*公司招聘职位*/
.userData .comPositionData{border:none; border-top:1px solid #e6e6e6; padding:20px 0;}
.comPositionData .labelBar-2{margin-top:0; margin-bottom:20px;}
.comPositionData .labelBar-2 .itemCount{ float:right;}
.comPositionData .job-touches {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #006CB1;
}
.comPositionData .job-touches .team-show-icon {
  display: inline-block;
  width: 41px;
  height: 18px;
  background: url(../img/tit/team-show-icon.gif) no-repeat;
  vertical-align: middle;
  margin-left: 5px;
}
.comPositionData .job-title {
  margin-bottom: 5px;
}
.comPositionData .job-title a {
  color: #565656;
  font-weight: 700;
}
.comPositionData .job-title a:hover {
  text-decoration: none;
}
.comPositionData .company-name {
  margin-bottom: 5px;
}
.comPositionData .job-posting-builder {
  margin-top: 5px;
}
.comPositionData .job-posting-builder a {
  color: #898989;
}
.comPositionData .job-posting-builder .posted-date {
  margin-left: 10px;
}

/*-------
观点明细页
-------*/
/*观点文章*/
.viewPost{border:1px solid #e6e6e6;}
.viewPostHeader{border-bottom:1px dashed #ededed; padding:20px 20px 10px;}
.viewPost h1{font-size: 20px; color: #2b2b2b; font-weight: 900; margin-bottom: 10px;}
.viewPost li{margin-right: 10px; padding-right: 10px; background: url(../img/bg/separater-1.png) 100% 50% no-repeat; color: #898989;}
.viewPost li a{margin-right:10px; color:#898989;}
.viewArticle{padding:0 20px}
.viewArticle b,.viewArticle strong{font-weight: 700;}
.viewArticle em{font-style:italic;}
.viewArticle p{margin:20px 0; line-height: 2em; text-indent: 2em; font-size: 14px;}
.viewArticle .imgWrap{width: 600px; text-align: center;}
.viewAction{margin-top: 20px;}
.viewAction .rowList li{color: #898989;margin-right: 10px; padding-right: 10px; background: url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.viewAction .shareTxt{margin-top: 8px;}

/*文章下面的评论*/
.viewInput{padding: 10px; margin-bottom: 40px; background-color: #f8f8f8;}
.viewInput textarea{border:1px solid #cecece; resize:vertical; max-width:613px; height: 47px;  background-color: #fff; padding:5px; width: 613px; margin-bottom: 10px;}
.viewInput label input{vertical-align: text-bottom; margin-right: 5px;}
.viewInput .viewOn-2{width:120px; height:32px; background: url(../img/btn/viewOn-2.png) no-repeat; border: none; text-indent: -9999em;cursor: pointer;}
.viewInput .viewOn-2H{background: url(../img/btn/viewOn-2H.png) no-repeat;}
.viewInput .viewOn-2W{background: url(../img/btn/viewOn-2W.png) no-repeat; cursor: pointer;}
.viewInput .trans{width:120px; height:32px; background: url(../img/btn/trans.png) no-repeat; border: none; text-indent: -9999em;cursor: pointer;}
.viewInput .transH{background: url(../img/btn/trans.png) no-repeat;}

.viewComment .infoImg{width:50px; height:50px}
.viewComment .infoImg img{width:50px; height:50px}
.viewComment .infoTxt{width: 555px;}
.viewComment .section p{line-height: 1.7em;}
.viewComment .section{padding-left:10px; padding-right: 10px;}
.viewComment .additional{color:#898989; margin-top: 10px;}
.viewComment .feedback{float:right;}
.viewComment .workEvaluate{margin: 10px 0 0 70px ; padding: 10px; background-color: #fcfcfc; border:1px solid #f2f2f2;}
.viewComment .workEvaluate textarea{width: 509px;}
.viewComment .pageNav{padding-bottom: 20px;}
/*右侧用户信息*/
.userPanel{background-color: #fafafa; padding:20px;}
.userPanel img{width: 110px; height: 110px; display: block; margin: 0 auto 20px;}
.userPanel .userInfo{margin-left: 40px;}
.userPanel .userInfo span{color: #898989;}
.userPanel .actBtn{width: 136px; margin: 10px auto 0}
.userPanel .actBtn span{float: left;}
.userPanel .actBtn .follow-1{margin-right: 10px;}
.userPanel .action{margin-top: 20px;}
.userPanel .action li{text-align: center; width: 49px; font-size: 14px; margin-right: 10px; padding-right: 3px; background: url("../img/bg/separater-2.png") no-repeat 100% 50%;}
.userPanel .action li a{display: block; margin-top: 10px;}
/*右侧相关文章*/
.relaArticle .listStyle{margin-top: 20px;}
.relaArticle .listStyle .raAuthor a{color:#565656;}


/*=======
注册
=======*/
.clientPanel{padding: 60px 18px 0 230px; font-size: 14px;}
.clientPanel.nor{height:422px; background: url(../img/bg/norRegist.jpg) 50% 0 no-repeat;}
.clientPanel.hun{height:529px; background: url(../img/bg/hunRegist.jpg) 50% 0 no-repeat;}
.clientPanel button{width:132px; height:42px; text-indent: -9999em; border: none; margin-left: 90px; cursor: pointer;}
.clientPanel .cliRegBtn{background: url(../img/btn/regist.png) no-repeat; }
.clientPanel .cliRegBtnH{ background: url(../img/btn/registH.png) no-repeat;}

.panelSwitch{margin:0 19px; border-bottom: 1px solid #e3e3e3;}
.panelSwitch .li-2{margin-left: 10px;}
.panelSwitch li a{width:454px; height:56px;display: block;color:#969696; font-size: 22px; text-decoration: none; border:1px solid #e3e3e3; background-color: #f8f8f8; text-align: center; line-height: 56px; margin-bottom: -1px; font-family: "微软雅黑";}
.panelSwitch li .nor{background-image: url(../img/tit/nor.gif); background-position: 120px 50%; background-repeat: no-repeat;}
.panelSwitch li .hun{background-image: url(../img/tit/hun.png); background-position: 120px 50%; background-repeat: no-repeat;}
.panelSwitch li .current{border-bottom: 1px solid #fff; color: #2b2b2b; background-color: #fff; cursor: default;}
.panelSwitch li .nor.current{ background-image: url(../img/tit/nor-2.gif);}
.panelSwitch li .hun.current{ background-image: url(../img/tit/hun-2.png);}
.clientPanel p{margin-bottom: 30px; line-height: 33px; height:33px; background-position:414px 50%; background-repeat: no-repeat;}
.clientPanel p .tips, .clientPanel .phone .tips{font-size: 12px; margin-left: 10px; color: #898989; line-height: 33px;}
.clientPanel .correct{background-image:url(../img/tit/loginVerify.gif);}
.clientPanel .error{background-image:url(../img/tit/loginError.gif);}
.clientPanel .error .tips{margin-left: 30px; color: #f00;}
.clientPanel .error input{border-color:#f00;}
.clientPanel .autoCon{left:94px; width:308px; top:33px;}


.clientPanel label{display: inline-block; width:90px; text-align:right; vertical-align: top;}
.clientPanel input{width:304px; border: 1px solid #cecece; padding:7px 2px;vertical-align: middle;}

.clientPanel .ipRadio{background-position:240px 50% !important;}
.clientPanel .ipRadio .tit{display: inline-block; width: 90px; text-align:right;}
.clientPanel .ipRadio label{width: auto; margin-right: 30px;}
.clientPanel .ipRadio input{width:auto; height: auto; margin-right: 5px; border:none;}

.clientPanel .declare label{width:auto; margin-left: 90px; font-size: 12px; color: #898989;}
.clientPanel .declare input{width:auto; padding: 0; margin-right: 5px; vertical-align: middle; border:none;}

.clientPanel .phone{margin-bottom: 30px;  height:33px;background-position:414px 50%; background-repeat: no-repeat;}
.clientPanel .phone .phonei{float:left;line-height: 33px;}
.clientPanel .phone input{width:114px;}
.clientPanel .phone .selectList{width:180px; float:left; margin:2px 0 0 10px;}
.clientPanel .phone .selectList dt{border:1px solid #e3e3e3; height:25px; padding: 3px 10px;}
.clientPanel .phone .optionList ul{width:178px; margin-top: -1px; border-color:#e3e3e3;}
.clientPanel .phone .optionList li a{height: 31px; padding: 0 10px; line-height: 31px;}
.clientPanel .model{background-position: 340px 50% !important;}


.clientPanel.log{background: url(../img/bg/loginBg.jpg) no-repeat; height: 363px; padding-top: 120px;}
.clientPanel .cliLogBtn{background: url(../img/btn/login.png) no-repeat;}
.clientPanel .cliLogBtnH{ background: url(../img/btn/loginH.png) no-repeat;}
.clientPanel.log .declare label{padding-right: 10px; margin-right: 10px;	background: url(../img/bg/separater-1.png) 100% 50% no-repeat;}
.clientPanel.log .declare a{font-size: 12px;}
.clientPanel.log .careful{margin:-40px 0 0 90px; font-size: 12px; color: #898989;}
.clientPanel .cliLogQ{background: url(../img/btn/loginQ.png) no-repeat; margin-left: 20px;}
.showe{margin: 40px 10px 0;}

.clientPanel.findPass{background: url(../img/bg/findPassBg.jpg) no-repeat; height: 363px; padding-top: 120px;}
.clientPanel .cliSendBtn{background: url(../img/btn/sentBtn.png) no-repeat;}
.clientPanel .fpAdd{margin-left: 90px; color: #898989; font-size: 12px;}
.clientPanel .fpAdd .oran{ color:#ff6600;}

.clientPanel.findPass-2 .declare{font-size: 16px; margin-bottom: 20px; background: url(../img/tit/findPass.gif) 0 50% no-repeat; padding-left: 80px; margin-left: -80px; color: #2b2b2b;}
.clientPanel.findPass-2 .seeEmail{background:url(../img/btn/seeEmail.png) no-repeat; border: none; margin:20px 0 0 0;}
.clientPanel.findPass-2 .fpAdd{margin-left: 0;}

.clientPanel.resetPass{background: url(../img/bg/resetPass.jpg) no-repeat; height: 483px;}
.clientPanel.resetPass .resSureBtn{background: url(../img/btn/resSure.png) no-repeat;}

.showe li{margin-right: 20px; padding-left: 72px; width: 228px; height: 62px;}
.showe li h3{font-size: 18px; font-family: "微软雅黑"; color: #2b2b2b;}
.showe li p{color: #898989;}
.showe-i-1{background: url(../img/tit/in-1.gif) no-repeat;}
.showe-i-2{background: url(../img/tit/in-2.gif) no-repeat;}
.showe-i-3{background: url(../img/tit/in-3.gif) no-repeat; margin-right: 0 !important;}

/*404页面*/
.num404{border:1px solid #dadada; border-bottom: none; background: #f7f7f7 url(../img/bg/num404b.jpg) 0 100% no-repeat;  padding-bottom: 49px;}
.num404i{background: #fff url(../img/bg/num404.jpg) 200px 30px no-repeat; padding:60px 0 70px 360px; }
.num404i .tit{font-size: 16px; color: #2b2b2b;}
.num404i .subTit{font-size: 12px; width:500px; color: #898989; margin-top: 10px; border-bottom: 1px dotted #b9b9b9; padding-bottom: 20px;}
.num404i .pra{margin-top: 10px;}
.num404Cont{padding: 20px 40px;background:url(../img/bg/num404t.png) repeat-x;}
.num404Cont .declare{font-size: 14px; color: #2b2b2b; font-weight: 700;}
.num404Cont .wBlock{margin-top: 20px;}

.num404Cont .wBlock li{width:280px; margin:0 20px 30px 0;}
.num404Cont .edge{width:280px; margin-right: 0 !important;}
.num404Cont .infoImg{width:68px; height:68px;}
.num404Cont .infoImg img{width:68px; height:68px;}
.num404Cont .infoTxt{width:192px;}

/*北京招聘*/
.bjInvite{border-top: 1px dashed #ededed; padding-top: 15px;}
.bjInvite .main .labelBar{border-bottom: none;}
.bjInvite .main .labelBar{border-bottom: none;}
.bjInvite .main .labelBar h3 a{color: #2b2b2b; text-decoration: none;}
.bjInvite table{ width: 645px; margin-bottom: 40px;}
.bjInvite th,.bjInvite td{border: 1px solid #f2f2f2; padding: 15px 2px;text-align: center;}
.bjInvite th{background-color: #f2f2f2; color: #2b2b2b; padding: 5px 2px}
.bjInvite .side .listStyle{margin: 20px 0 40px;}
.bjInvite .side .listStyle li{margin-bottom: 20px;}
.bjInvite .side .wPeople li{margin-bottom: 30px;}
.bjInvite .side .wPeople .infoImg{width: 68px;}
.bjInvite .side .wPeople .infoImg img{width: 68px; height: 68px;}
.bjInvite .side .wPeople .infoTxt{width: 187px;}
.bjInvite .side .wLink li{margin-bottom: 10px;}


/*上线预告*/
.rollout{height: 650px; margin-top: 30px; position: relative; background: url(../img/bg/newAcc.jpg) no-repeat;}
.flexslider-2{width: 389px;height: 284px; position: absolute; top: 135px; left: 75px;}
.flexslider-2 .slides li {display: none;}
.flexslider-2 .slides a {cursor: default;}

/* Control Nav */
.flexslider-2 .flex-control-nav {position: absolute; left: 110px; bottom: -10px; margin: 0;}
.flexslider-2 .flex-control-nav li {margin: 0 6px; float: left; list-style:none;}
.flexslider-2 .flex-control-paging li a {background: url(../img/btn/rollouticon.gif) no-repeat; width: 12px; height: 12px; display: block; text-indent: -999em; cursor: pointer;}
.flexslider-2 .flex-control-paging li a:hover { background: url(../img/btn/rollouticonH.gif) no-repeat;}
.flexslider-2 .flex-control-paging li a.flex-active { background: url(../img/btn/rollouticonD.gif) no-repeat;}
.flexslider-2 .flex-direction-nav{display: none;}